@import '../../variables';

header { 
  background: rgb(52, 52, 52);
  box-shadow: 0 5px 10px 0 rgba(0,0,0, .25);
  color: $header-text-color;
  height: $header-height;
  max-height: $header-height;
  z-index: 1;
  align-items: center;
  
  nav {
    margin-left: 40px;
  }

  a {
    color: $header-text-color;
  }

  figure,
  img {
    margin: 0;
    padding: 0;
    position: relative;
    height: 43px;
    margin-top: 1px;
  }
}

.header__centered-content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: $header-height; 
  margin: 0 auto;
  max-height: $header-height;
  max-width: calc(#{$max-container-width} - 4em);
  padding: 0;
  width: 100%;

  @include sm {padding: 0 1em}
  @include md {padding: 0 2em}
  @include lg {padding: 0 2em}
  @include xl {padding: 0}
}