$table-header-size: 53px;
$product-crud-table-padding-left: 1.75em;

.product-crud {
  font-family: $base-font-family;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
}


.product-crud__text {
  color: $light-black-color;
  font-size: .85em;
  letter-spacing: .5px;
  margin-right: 1em;
  display: inline-block;
}

.product-crud__purchase-list {
  position: relative;
   z-index: 1;

  &::before {
    content: '';
    z-index: 0;
    position: absolute;
    width: 100%;
    height: $table-header-size;
    background-color: #32CFC7;
    left: 0;
    top: 0;
  }
}

.product-crud__header {
  height: 30px;
  background-color: #32CFC7;
  width: 100%;
}

.product-crud__id {
  margin: 0;
  padding: .7em 0 .65em $product-crud-table-padding-left + .25em;
  border-bottom: 2px solid rgba($white-color, .2);
  display: inline-block;
  color: $white-color;
  font-weight: 400;
  font-size: .875em;
  line-height: 1em;
  letter-spacing: 1px;
  position: relative;
  z-index: 2;
}

.product-crud__table {
  width: 100%;
  border-collapse: collapse;
  
  button {
    width: 30px;
    height: 30px;
    border: 1px solid $blue-color-1;
    border-radius: 50%;
    margin: 5px;
    box-sizing: border-box;
    color: $blue-color-1;

    &:first-child {
      background-color: $blue-color-1;
      color: $white-color;
    }

    &:focus {
      outline: 0;
    }
  }

  thead th {
    position: relative;
    z-index: 1;
    height: $table-header-size;
    font-size: 1em;
    font-weight: 300;
    color: rgba($white-color, .85);
    letter-spacing: 1px;
    text-align: left;
  }

  thead th:first-child {
    padding-left: $product-crud-table-padding-left;
  }
  
  tbody tr {
    height: 95px;
    border-bottom: 2px solid rgba(0,0,0, .1);
    box-sizing: content-box;
    align-items: center;
    width: 100%;
    table-layout: fixed;

    td:first-child {
      padding-left: $product-crud-table-padding-left;
    }

    td:nth-child(1) {
      width: 30.8%
    }


    td:nth-child(2) {
      width: 12%
    }


    td:nth-child(3) {
      width: 16%
    }


    td:nth-child(4) {
      width: 15%
    }


    td:nth-child(5) {
      width: 14.2%
    }


    td:nth-child(6) {
      width: 12%
    }
  }
}

.product-crud__table__td--centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;
}

.circular-progressbar-container {
  display: flex;
  height: 90px;
  width: 100px;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .CircularProgressbar {
    width: 65px;
  }
}

.product-crud__footer {
  background-color: $blue-color-1;
  color: $white-color;
  height: 70px;
  box-sizing: border-box;
}
