$table-header-size: 53px;

.product-crud {
  font-family: $base-font-family;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;

  p {
    margin: 0;
    padding: 0;
  }
}
.product-crud__purchase-list {
  padding-left: 1em;
  position: relative;
   z-index: 1;

  &::before {
    content: '';
    z-index: 0;
    position: absolute;
    width: 100%;
    height: $table-header-size;
    background-color: #32CFC7;
    left: 0;
    top: 0;
  }
}

.product-crud__header {
  height: 30px;
  background-color: #32CFC7;
  width: 100%;
}

.product-crud__id {
  margin: 0;
  padding: .7em 0 .65em 1.2em;
  border-bottom: 2px solid rgba($white-color, .2);
  display: inline-block;
  color: $white-color;
  font-weight: 400;
  font-size: .875em;
  line-height: 1em;
  letter-spacing: 1px;
  position: relative;
  z-index: 2;
}

.product-crud__table {
  width: 100%;
  border-collapse: collapse;
  padding-left: 10px;
  thead tr {
    padding: 0 2em;
  }

  thead th {
    position: relative;
    z-index: 1;
    height: $table-header-size;
    font-size: 1em;
    font-weight: 300;
    color: rgba($white-color, .85);
    letter-spacing: 1px;
    text-align: left;
  }
}

.product-crud__footer {
  background-color: #26A3AB;
  color: $white-color;
  height: 70px;
  box-sizing: border-box;
}
