.application {
  font-family: $base-font-family;
  position: relative;
  height: calc(100% - 80px);
}

.application__title {
  color: $white-color;
  font-size: 1.7em;
  font-family: $base-font-family;
  font-weight: 300 !important;
  letter-spacing: -0.4px;
  margin-bottom: .5em;
  letter-spacing: 1px;
}
