$base-font-size: 16px;

// Colors
$white-color: #ffffff;
$dark-color: #402f2b;
$darker-color: #2F2F2F;
$light-color: #e6d5c3;
$medium-color: #977978;
$medium-2-color: #929292;
$alert-color: #cb492a;
$light-black-color: #706e72;
$black-color: #414042;

// Header
$header-height: 60px;
$header-color: $darker-color;
$header-text-color: $medium-2-color;

// Footer
$footer-height: 50px;